@model Book.Dtos.AddReceivershipDto

@{ViewData["Title"] = "پس  گرفتن کتاب";}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>پس گرفتن کتاب</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active">پس گرفتن  کتاب</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline">
                    <div class="card-body">
                        <div class="mb-3">
                            <form asp-action="BackBook" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger lst"></div>

                                <div class="form-group">
                                    <label asp-for="BookId" class="control-label"></label>
                                    <input asp-for="BookId" class="form-control" />
                                    <span asp-validation-for="BookId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="StudentId" class="control-label"></label>
                                    <input asp-for="StudentId" class="form-control" />
                                    <span asp-validation-for="StudentId" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center">
                                    <input type="submit" value="پس گرفتن" class="btn btn-outline-success btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                    </p>
                </div>
            </div>

@section Scripts{
                @if (ViewBag.Message != null)
                {
        <script>Swal.fire("", "@ViewBag.Message", "@ViewBag.Mode");</script>
                }
            }