@model Book.Data.Students

@{ViewData["Title"] = "ویرایش دانشجو";}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ویرایش دانشجو</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active">ویرایش دانشجو</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline">
                    <div class="card-body">
                        <div class="mb-3">
                            <form asp-action="StudentUpdatee" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input asp-for="StudentId" type="hidden" />

                                <div class="form-group">
                                    <label asp-for="Name" class="control-label">نام دانشجو</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Family" class="control-label">نام خانوداگی دانشجو</label>
                                    <input asp-for="Family" class="form-control" />
                                    <span asp-validation-for="Family" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FatherName" class="control-label">نام پدر دانشجو</label>
                                    <input asp-for="FatherName" class="form-control" />
                                    <span asp-validation-for="FatherName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NationalCode" class="control-label">کدملی دانشجو</label>
                                    <input asp-for="NationalCode" class="form-control" />
                                    <span asp-validation-for="NationalCode" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label">شماره تلفن دانشجو</label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center">
                                    <input type="submit" value="ویرایش" class="btn btn-outline-success btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                    </p>
                </div>
            </div>


            @section Scripts{
                @if (ViewBag.Message != null)
                {
                    <script>Swal.fire("", "@ViewBag.Message", "@ViewBag.Mode");</script>
                }
            }
